
.banner {
    position: relative;
    text-align: center;
    height: 300px; 
    background-size: cover;
    background-position: center;
  }
  
  .banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
  
  .banner-content h1 {
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); 
    z-index: 1;
  }
  
  .top-right-links {
    position: absolute;
    top: 20px;
    right: 40px;
    display: flex;
    z-index: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  }
  
  .link-bold {
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  }
  
  .download-section {
    text-align: center;
    margin-top: 20px;
  }
  
  .dialog-box {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
  }
  
  .dialog-box p {
    margin-bottom: 10px;
  }
  
  .download-button {
    background-color: #FFD54F;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .download-button:hover {
    background-color: #FFD54F;
  }
  
  .content-below-banner {
    background-color: #F5F2F0;
    padding: 20px;
  }
  
  .separator-bar {
    border-top: 1px solid #FFD54F;
    margin-top: 20px;
  }
  .objective-text {

    font-size: 32px;
    margin-top: 20px;
    
  }
  .image-container-square {
    width: 300px; 
    height: 300px; 
    margin-right: 50px; 
    display: inline-block;
    overflow: hidden;
  }
  
  .image-container-square img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
  }
  .horizontal-images {
    display: flex;
    justify-content: space-around;
  }
  
  .image-container-square {
    width: 30%; /* Ajuste o tamanho conforme necessário */
    margin: 10px; /* Espaçamento entre as imagens */
    text-align: center; /* Centraliza o texto */
    position: relative; /* Adiciona posição relativa para permitir a sobreposição das legendas */
  }
  
  .image-container-square img {
    width: 100%;
    height: auto;
  }
  
  .image-container-square p {
    position: absolute; /* Posiciona a legenda em relação ao contêiner */
    bottom: 5px; /* Ajuste para a posição vertical da legenda */
    left: 50%; /* Ajuste para centralizar a legenda */
    transform: translateX(-50%); /* Centraliza a legenda horizontalmente */
    color: #fff; /* Cor do texto */
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semi-transparente para legenda */
    padding: 5px; /* Espaçamento interno da legenda */
    width: calc(100% - 10px); /* Largura igual à largura do contêiner menos o espaçamento */
  }
  .footer {
    background-color: #FFD54F;
    color: #000;
    text-align: center;
    padding: 20px 0;
  }